<ion-header>
  <ion-navbar>
    <ion-title>Movies</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-slides pager>

    <ion-slide
      *ngFor="let featured of filteredMovies | async"
      [style.background-size]="'contain'"
      [style.background-repeat]="'no-repeat'"
      [style.background-image]="'url(' + featured?.FeaturedImage + ')'">
    </ion-slide>

  </ion-slides>

<ion-grid>
  <ion-row>
    <ion-col col-6 *ngFor="let movie of movies | async">
      <ion-card
        (click)="goToDetail(movie)">
        <img [src]="movie.Poster"/>
        <ion-card-content>
          <ion-card-title>
            {{movie.Title}}
          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>


</ion-content>
